extends layout.pug

block content
  h1 Favorite Cryptos List
  div(class='py-3')
  table(class='table table-striped table-hover')
    thead(class='thead-dark')
      tr
        th(scope='col')
        th(scope='col') Name
        th(scope='col') Symbol
        th(scope='col') Price
        th(scope='col') Market Cap
        th(scope='col') 24-hr Volume
        th(scope='col') 1 Day Change
        th(scope='col') 7 Day Change

    tbody
      each coin in arr 
             tr
               td
                img(src=`../public/crypto-icons/${coin.symbol.toLowerCase()}.svg` style={'width':'25px'})
               td= coin.name 
               td= coin.symbol
               if coin.percent_change_24h > 0
                 td(class='greenNums')= `$${coin.price}` 
               else 
                 td(class='redNums')= `$${coin.price}` 
               td= `$${coin.market_cap}` 
               td= `$${coin.volume_24h}`
               if coin.percent_change_24h > 0
                 td(class='greenNums')= `$${(coin.price * (coin.percent_change_24h / 100)).toFixed(2)} (${coin.percent_change_24h}%)`
               else 
                 td(class='redNums')= `$${(coin.price * (coin.percent_change_24h / 100)).toFixed(2)} (${coin.percent_change_24h}%)`  
               if coin.percent_change_7d > 0
                 td(class='greenNums')= `$${(coin.price * (coin.percent_change_7d / 100)).toFixed(2)} (${coinpercent_change_7d}%)`
               else 
                 td(class='redNums')= `$${(coin.price * (coin.percent_change_7d / 100)).toFixed(2)} (${coin.percent_change_7d}%)`  
                 
  h3 Add Coin
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  form(action=`/user/add-favorite-coin` method='post' class='')
    input(type='hidden' name='_csrf' value=csrfToken)
    div(class='form-group')
      label(for='favoriteCoins') Enter Coin Symbol
      input(type='text' id='favoriteCoins' name='favoriteCoins' value=user.favoriteCoins class='form-control')
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Add Coin
  br
